body{
    display: flex;
    background-color: g;
}
#left{
    display: flex;
    flex-direction: column;
    margin-top: 270px;
    margin-left: 190px;
    margin-right: 90px;
    gap: 10px;

}
#right{
    display: flex;
    margin-top: 225px;
}
#img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin-top: 32px;
    margin-right: 40px;
}

.button1 {
    width: 100px;
    border: none ;
    height: 50px;
    background-color: burlywood ;
} ;